@charset "UTF-8";

aside {
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.5) !important;
    /* background-color: rgb(253, 251, 147); */
    max-width: 280px;
    min-width: 250px;
    padding: 2em;
}

aside figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

aside figure img {
    width: 80px;
}

aside i.male {
    padding-right: 0.5em !important;
    padding-left: 0.5em;
}

aside ul {
    margin: auto;
}

aside ul li {
    transition: margin-left 0.5s ease;
}

aside ul li:hover {
    margin-left: 0.8em;
}

aside ul li i {
    font-size: 1.5em;
}
aside ul li i.male {
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
}

ul .content {
    font-weight: bold;
    padding-left: 0.2em;
}

ul .content .description {
    font-weight: normal;
    font-size: 0.8em;
}

main {
    height: 100%;
    max-height: 670px;
    overflow-y: scroll;
}

.mw-sm {
    max-width: 570px !important;
}